/* App.css */
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.book-list-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.book-modal {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
